.con{
    background-color: rgb(117, 117, 172);
    height: 300px;
    width: 300px;
}

.botao{
    background-color: rgb(68, 6, 6);
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 10px;
}

.texto{
    font-size: 11px;
    font-family: Arial;
    margin: 5px;
}